body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.authentication-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-title{
        color: var(--inputs-title);
        font-size: larger;
    }
    .form-second-title{
        margin-top: 10px;
        margin-bottom: 20px;
        width: max-content;
        color: var(--categories-text);
        font-size: small;
    }
    .inputs-divs {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        position: relative;
        input {
            padding: 10px;
            background-color: transparent;
            border: none;  border-radius: 5px;
            outline: 1px solid var(--inputs-ol);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        input:focus{outline: 1px solid var(--inputs-ol-focus);}
    
        label {
            margin-bottom: 3px;
            color: var(--inputs-labels);
        }
        .errors{
            margin-top: 2px;
            color: red;
            font-size: 10px;
        }
    }
}
.authentication-login{
    margin-top: 20px;
    color: #000000;
    font-size: small;
    a{
        color: #bc594b;
        text-decoration: none;
    }a:hover{text-decoration: underline;}
}

.authentication-submit{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: var(--buttons-bg);
    color: var(--buttons-text);
    border: none;  border-radius: 5px;
    outline: 1px solid var(--inputs-ol);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}
.authentication-submit:hover {
    background-color: var(--buttons-bg-hover);
}
/* Styles for devices with a width of 768px or more (tablets, desktops) */
@media (min-width: 768px) {
    .authentication-background-img{
        width: 50vw;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
    }
    .authentication-form-container{
        width: 50vw;
        .inputs-divs input {
            width: 25vw;
        }
    }
}
/* Styles for devices with a width of less than 768px (mobiles) */
@media (max-width: 767px) {
    .authentication-background-img{
        display: none;
    }
    .authentication-form-container{
        width: 100vw;
        position: absolute;
        transform: translate(-50% , -50%);
        top: 50%;  left: 50%;
    }
}
