.page-title {
    color: var(--main-tape-books-vault);
    font-size: x-large;
}
.biography{
    color: var(--main-tape-books-vault);
    font-size: large;
}
.delete-icon {
    position: absolute;
    svg {
        width: 38px;  height: auto;
    }
}
/* Styles for devices with a width of 768px or more (tablets, desktops) */
@media (min-width: 768px) {
    .page-title{
        margin-left: 43px;
        margin-top: 50px;
    }
    .biography{
        margin-left: 45px;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 40vw;
    }
    .delete-icon {
        right: 40px;  top: 100px;
    }
}
/* Styles for devices with a width of less than 768px (mobiles) */
@media (max-width: 767px) {
    .page-title{
        margin: 22px;
        margin-bottom: -20px;
        margin-top: 30px;
    }
    .biography{
        margin: 43px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .delete-icon {
        right: 20px;  top: 135px;
    }
}