body{
    padding-bottom: 50px;
}

.new-book-main-title {
    color: var(--main-tape-books-vault);
    font-size: x-large;
}

.main-container {
    display: flex;
    gap: 40px;

    .image-input-container{
        width: 28vw;
        .image-label{
            width: 100%; aspect-ratio: 1 / 1.3;
            background-color: transparent;
            border: none;  border-radius: 5px;
            outline: 1px solid var(--inputs-ol);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease;
            p {
                color: var(--inputs-labels);
                font-size: x-large;
            }
        }
        .image-label:hover{
            background-color: var(--inputs-hover);
            outline: 1px solid var(--inputs-ol-focus);
        }
    }
    .details-inputs-container {
        flex: 2;
        .inputs-container{
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            position: relative;

            label {
                margin-bottom: 3px;
                color: var(--inputs-labels);
            }
            .inputs {
                padding: 10px;
                background-color: transparent;
                color: var(--inputs-text);
                border: none;  border-radius: 5px;
                outline: 1px solid var(--inputs-ol);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                transition: 0.2s ease;

                option {
                    background-color: var(--inputs-bg);
                }
            }
            .inputs:hover {
                outline: 1px solid var(--inputs-ol-focus);
            }
            .inputs:focus{outline: 1px solid var(--inputs-ol-focus);}

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}

            /* This For Author Input */
            .authors-list {
                margin-top: 1px;
                height: auto;
                max-height: 167px;
                border-radius: 0px 0px 5px 5px;
                outline: 1px solid var(--inputs-ol-focus);
                color: var(--inputs-labels);
                overflow-y: scroll;  scrollbar-gutter: none;
                display: none;

                .no-results{
                    margin: 10px;
                    display: none;
                    text-align: center;
                }
                .authors-names {
                    margin: 10px;
                }
            }

            .chosen-authors {
                width: max-content;
                padding: 7px;
                display: flex;
                flex-direction: row;
                position: absolute;
                top: 20px;

                .authors-names {
                    margin-right: 7px;
                    padding: 3px;  padding-left: 7px;  padding-right: 7px;
                    border-radius: 5px;
                    background-color: var(--inputs-text);
                    color: var(--chosen-authors-text);
                }
            }
        }
    }
}

.new-book-submit {
    padding: 10px;
    background-color: var(--buttons-bg);
    color: var(--buttons-text);
    border: none;  border-radius: 5px;
    outline: 1px solid var(--inputs-ol);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}
.new-book-submit:hover {
    background-color: var(--buttons-bg-hover);
}

/* Styles for devices with a width of 768px or more (tablets, desktops) */
@media (min-width: 768px) {
    .new-book-main-title {
        margin: 40px;
    }
    .main-container {
        margin: 40px;
        flex-direction: row;
    }
    .new-book-submit {
        margin: 40px;
        width: calc(100% - 80px);
    }
}
/* Styles for devices with a width of less than 768px (mobiles) */
@media (max-width: 767px) {
    .new-book-main-title {
        margin: 30px;
    }
    .main-container {
        margin: 30px;
        flex-direction: column;
        .image-input-container{
            flex: 1;
            width: 100%;
        }
    }
    .new-book-submit {
        margin: 30px;  margin-top: 0px;
        width: calc(100% - 60px);
    }
}
