{% extends "layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}

    <div class="search-and-new-book-container">
        <div class="search-container">
            <p class="search-title">Search and browse books</p>

            <form class="search-bar" action="{% url 'search' %}" method="post">
                {% csrf_token %}

                <input class="search-input" type="text" name="search" placeholder="Name / ISBN">
                <button type="submit" class="search-button">
                    <svg class="search-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </button>
            </form>

            <div class="categories-container">
                {% for code, name in CATEGORIES %}
                    <a class="categories-text" href="category/{{ code }}">{{ name }}</a>
                {% endfor %}
            </div>
        </div>

        <a class="new-book-container" href="{% url 'new-book' %}">
            <svg  class="new-book-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
                </g>
            </svg>
            <div class="new-book-text-container">
                <p class="new-book-text main">Add new book</p>
                <p class="new-book-text second">Track your personal book <br> collection easily.</p>
            </div>
        </a>
    </div>

    <div class="second-tape">
        <p>Books : {{ Books.count }}</p>

        <div class="displays-of-books">
            <svg class="displays-icon" id="gridDisplayIcon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M3.5 3.5H10.5V10.5H3.5V3.5Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> 
                    <path d="M3.5 13.5H10.5V20.5H3.5V13.5Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> 
                    <path d="M13.5 3.5H20.5V10.5H13.5V3.5Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M13.5 13.5H20.5V20.5H13.5V13.5Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </svg>
            <svg class="displays-icon" id="listDisplayIcon"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M3.5 20.5L3.5 13.5L20.5 13.5V20.5H3.5Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M3.5 10.5L3.5 3.5L20.5 3.5V10.5L3.5 10.5Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> 
                </g>
            </svg>
        </div>
    </div>

    <div class="books-container grid" id="booksContainer">
        {% for Book in Books %}
            <a class="book-box" href="/books/vault/book/{{ Book.id }}">
                <img src="{{ Book.image_url }}" alt="{{ Book.image_url }}">
                <div style="display: flex;flex-direction: column;"> 
                    <p class="book-name">{{ Book.name }}</p>
                    <div class="book-details">
                        <div>
                            <p>ISBN</p>
                            <p>category</p>
                            <p>author</p>
                            <p>publisher</p>
                        </div>
                        <div>
                            <p>{{ Book.ISBN }}</p>
                            <p>{{ Book.get_category_display }}</p>
                            <p>
                                {% for author in Book.authors.all %}
                                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %} 
                            </p>
                            <p>{{ Book.publisher.name }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}