{% extends "layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block body %}
    <div class="authentication-form-container">
        <form method="POST" action="{% url 'login' %}" class="authentication-form">

            {% csrf_token %}
            
            <p class="form-title">Log in to your library account</p>
            <p class="form-second-title">You can log in using the information you provided<br>during registration.</p>
            
            <div class="inputs-divs">
                <label for="username" class="username-label">Username</label>
                <input 
                    type="text" 
                    name="username" 
                    id="username"
                    class="authentication-username"
                    placeholder=" "
                    style="{% if usernameE %}outline:1px solid red;{% endif %}"
                    onfocus="this.style.outline='{% if usernameE %} 1px solid red; {% endif %}'">
                {% if usernameE %}
                    <p class="errors">{{ usernameE }}</p>
                {% endif %}
            </div>
            
            <div class="inputs-divs">
                <label for="Password" class="password-label">Password</label>
                <input 
                    type="password"
                    name="password"
                    id="Password"
                    class="authentication-password"
                    placeholder=" "
                    style="{% if passwordE %}outline:1px solid red;{% endif %}"
                    onfocus="this.style.outline='{% if passwordE %} 1px solid red; {% endif %}'">
                {% if emailE %}
                    <p class="errors">{{ passwordE }}</p>
                {% endif %}
            </div>
    
            <p class="authentication-login">
                - Don't have an account? <a href="/books/vault/create/account">Create one</a>
            </p>

            <input type="submit" value="Login" class="authentication-submit">
        </form>
    </div>

    <img class="authentication-background-img" src="{% static 'imgs/online-library.png' %}" alt="online-library">
{% endblock %}